.form-control {
  display: block;
  width: 400px;
  height: calc(1.1em + 1.1rem + 2px);
  // padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #3f4254;
  background-color: #fff;
  // background-clip: padding-box;
  border: 1px solid #d0f5f7;
  border-radius: 0.42rem;
  box-shadow: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
// button {
//   outline: none;
//   border: 0;
//   background: transparent;
// }
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:rgb(188, 235, 235);
}

.d1{
  margin-left: px;
  width: 100%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d0f5f7;
  border-radius: 0.42rem;
}
.d2{
  margin-top: 20px;
  margin-left: 30px;
}
.d3{
  float: right;
  // margin-top: -110px;
  margin-right: 30px;
}
.d4{
  margin-top: -80px;
  margin-left: 30px;
  display: inherit;
}
.d5{
  margin-top: 19px;
  margin-left: 30px;
}
.d6{
  margin-left: 50%;
  margin-top: 20px;
}
// .card{
//   margin-top: 30px;
// }
.d7{
  // background: #bff2f5;
  background-color:rgb(188, 235, 235);
}



:host ::ng-deep {
  .p-paginator {
      .p-paginator-current {
          margin-left: auto;
      }
  }

  .p-progressbar {
      height: .5rem;
      background-color: #D8DADC;

      .p-progressbar-value {
          background-color: #607D8B;
      }
  }

  .table-header {
      display: flex;
      justify-content: space-between;
  }

  .p-calendar .p-datepicker {
      min-width: 25rem;

      td {
          font-weight: 400;
      }
  }

  .p-datatable.p-datatable-customers {
      .p-datatable-header {
          padding: 1rem;
          text-align: left;
          font-size: 1.5rem;
      }

      .p-paginator {
          padding: 1rem;
      }

      .p-datatable-thead > tr > th {
          text-align: left;
      }

      .p-datatable-tbody > tr > td {
          cursor: auto;
      }

      .p-dropdown-label:not(.p-placeholder) {
          text-transform: uppercase;
      }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
      display: none;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
      .p-datatable {
          &.p-datatable-customers {
              .p-datatable-thead > tr > th,
              .p-datatable-tfoot > tr > td {
                  display: none !important;
              }

              .p-datatable-tbody > tr {
                  border-bottom: 1px solid var(--layer-2);

                  > td {
                      text-align: left;
                      display: block;
                      border: 0 none !important;
                      width: 100% !important;
                      float: left;
                      clear: left;
                      border: 0 none;

                      .p-column-title {
                          padding: .4rem;
                          min-width: 30%;
                          display: inline-block;
                          margin: -.4rem 1rem -.4rem -.4rem;
                          font-weight: bold;
                      }

                      .p-progressbar {
                          margin-top: .5rem;
                      }
                  }
              }
          }
      }
  }

}

