
<div class="d1">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button >
        <mat-icon>search</mat-icon>
        Search Student By
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <div>
    <div>
      <div style="margin-top: 20px;margin-left: 30px;">
        <input matInput type="text" formControlName="teachername" placeholder="Tên giáo viên" class="form-control">
      </div>
      <div style="margin-top: 20px;margin-left: 30px;">
        <input matInput type="text" formControlName="phoneNumber" placeholder="Số điện thoại" class="form-control">
      </div>
    </div>

    <div style="float: right;margin-right: 30px;margin-top: -110px;">
      <div style="margin-top: 20px;margin-left: 30px;display: inherit;">
        <input matInput type="text" formControlName="email" placeholder="Email" class="form-control">
      </div>
      <div style="margin-top: 20px;margin-left: 30px;">
        <input matInput type="text" formControlName="address" placeholder="Address" class="form-control">
      </div>
    </div>
    <div style="margin-left: 47%;">
      <button mat-flat-button color="primary" type="submit" style="margin-top: 20px;" (ngSubmit)="search()">Tìm kiếm</button>
    </div>
  </div> -->
</div>

<!-- Table -->

<div class="card">
  <p-table #dt [value]="students" [rows]="10" [paginator]="true" [globalFilterFields]=
              "['studentName','email','phoneNumber','address','gender']" responsiveLayout="scroll"
     [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption" class="d7" >
          <div class="p-d-flex p-ai-center p-jc-between" >
            <button mat-icon-button>
              <mat-icon>reorder</mat-icon>
              List Students
            </button>
              <span class="p-input-icon-left">
                <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"></button> -->
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="processSave($event)"></button>
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="studentName">StudentName <p-sortIcon field="studentName"></p-sortIcon></th>
              <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
              <th pSortableColumn="phoneNumber">PhoneNumber <p-sortIcon field="phoneNumber"></p-sortIcon></th>
              <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon></th>
              <th pSortableColumn="gender">Gender <p-sortIcon field="gender"></p-sortIcon></th>
              <th pSortableColumn="acction">Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
          <tr>
              <td>{{student.studentName}</td>
              <td>{{student.email}}</td>
              <td>{{student.phoneNumber}}</td>
              <td>{{student.address}}</td>
              <td>{{student.gender}}</td>
              <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="processEdit(student)" ></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTeacher(student)" ></button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{students ? students.length : 0 }} students.
          </div>
      </ng-template>
  </p-table>
</div>

<p-dialog appendTo="body" [(visible)]="studentDialog" modal="modal" [style]="{width: '450px'}"  header="Add new student"
    [closable]="true" [showHeader]="true"  styleClass="p-fluid">

      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="studentName">StudentName</label>
          <input type="text" pInputText id="studentName" [(ngModel)]="student.studentName" required />

        </div>
        <div class="p-field">
          <label for="email">Email</label>
          <p-inputNumber id="email" [(ngModel)]="student.email"></p-inputNumber>
        </div>

        <div class="p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="phoneNumber">PhoneNumber</label>
            <input type="text" pInputText id="phoneNumber" [(ngModel)]="student.phoneNumber" required autofocus />
          </div>
          <div class="p-field p-col">
            <label for="address">Address</label>
            <input type="text" pInputText id="address" [(ngModel)]="student.address" required autofocus />
          </div>
        </div>

        <div class="p-field">
          <label for="gender">Gender</label> <br>
          <input type="text" pInputText id="gender" [(ngModel)]="student.gender" required autofocus />
        </div>


      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTable()"></button>
      </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

