<div class="modal-header">
  <h4 *ngIf="action" class="modal-title"
      style="font-size: medium">
    {{'Thêm mới lớp học'}}
  </h4>
  <h4 *ngIf="!action" class="modal-title"
      style="font-size: medium">
    {{'Sửa thông tin lớp học ' + room.nameRoom}}

  </h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formRoom">
      <div class="p-fluid p-grid">
          <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                  <input id="nameRoom"
                          type="text"
                          formControlName="nameRoom"
                          class="form-control"
                          pInputText>
                  <label for="nameRoom" class="required">NameRoom</label>
              </span>
              <small *ngIf="isSubmitted && f['nameRoom'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Tên lớp học là trường bắt buộc !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <input id="headTeacher"
                          type="headTeacher"
                          formControlName="headTeacher"
                          class="form-control"
                          pInputText>
                  <label for="headTeacher" class="required">HeadTeacher </label>
              </span>
              <small *ngIf="isSubmitted && f['headTeacher'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Phải nhập tên của giáo viên chủ nhiệm !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <input id="currentSize"
                          type="number"
                          formControlName="currentSize"
                          class="form-control"
                          pInputText>
                  <label for="currentSize" class="required">CurrentSize </label>
              </span>
              <small *ngIf="isSubmitted && f['currentSize'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Phải nhập sĩ số hiện tại của lớp !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <input id="maxSize"
                          type="number"
                          formControlName="maxSize"
                          class="form-control"
                          pInputText>
                  <label for="maxSize" class="required">MaxSize </label>
              </span>
              <small *ngIf="isSubmitted && f['maxSize'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Phải nhập giới hạn sĩ số lớp !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
            <span class="p-float-label">
                <input id="startCreated"
                        type="date"
                        formControlName="startCreated"
                        class="form-control"
                        pInputText>
                <label for="startCreated" class="required"> </label>
            </span>
            <small *ngIf="isSubmitted && f['startCreated'].errors?.required"
                    class="p-error text-error p-pl-1">
                Phải nhập ngày tạo hoặc ngày sửa đổi !
            </small>
        </div>

          <!-- <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <p>Trạng thái</p>
                  <p-inputSwitch  formControlName="status"></p-inputSwitch>

              </span>
          </div> -->
    </div>
  </form>
</div>

<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">Close</button>
  <button type="button" class="btn btn-danger"
          (click)="processSaveOrUpdate()">Save
  </button>
</div>

