<p-toast></p-toast>

<div class="d1">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button >
        <mat-icon>search</mat-icon>
        Search Rooms By
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <form>
    <div>
      <div class="d2">
        <input matInput type="text" formControlName="teacherName" placeholder="Tên giáo viên" class="form-control"/>
      </div>
      <div class="d2">
        <input matInput type="text" formControlName="phoneNumber" placeholder="Số điện thoại" class="form-control"/>
      </div>
    </div>

    <div class="d3">
      <div class="d4">
        <input matInput type="text" formControlName="email" placeholder="Email" class="form-control"/>
      </div>
      <div class="d5">
        <input matInput type="text" formControlName="address" placeholder="Address" class="form-control"/>
      </div>
    </div>
    <div class="d6">
      <button mat-flat-button color="primary" type="submit" style="margin-top: 0px;" (click)="search()">Tìm kiếm</button>
    </div>
  </form> -->
</div>


<!-- <kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'" [class]="'d-flex flex-row'">
  </kt-portlet-header>
  <kt-portlet-body> -->
<div class="card">
    <p-table #dt [value]="rooms" [rows]="10" [paginator]="true" [globalFilterFields]=
                "['nameRoom','headTeacher','currentSize','maxSize','startCreated']" responsiveLayout="scroll"
       [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption" class="d7" >
            <div class="p-d-flex p-ai-center p-jc-between" >
              <button mat-icon-button>
        <mat-icon>reorder</mat-icon>
        List Rooms
      </button>
                <span class="p-input-icon-left">
                  <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"></button> -->
                  <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="processSave($event)"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nameRoom">Room Name <p-sortIcon field="nameRoom"></p-sortIcon></th>
                <th pSortableColumn="headTeacher">Head Teacher <p-sortIcon field="headTeacher"></p-sortIcon></th>
                <th pSortableColumn="currentSize">Current Size <p-sortIcon field="currentSize"></p-sortIcon></th>
                <th pSortableColumn="maxSize">Max Size <p-sortIcon field="maxSize"></p-sortIcon></th>
                <th pSortableColumn="startCreated">Start Created <p-sortIcon field="startCreated"></p-sortIcon></th>
                <th pSortableColumn="acction">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
            <tr>
                <td>{{room.nameRoom}}</td>
                <td>{{room.headTeacher}}</td>
                <td>{{room.currentSize}}</td>
                <td>{{room.maxSize}}</td>
                <td>{{room.startCreated}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="processEdit(room)" ></button>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTeacher(teacher)" ></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{rooms ? rooms.length : 0 }} rooms.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog appendTo="body" [(visible)]="roomDialog" modal="modal" [style]="{width: '450px'}"  header="Add new room"
      [closable]="true" [showHeader]="true"  styleClass="p-fluid">

        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="nameRoom">NameRoom</label>
            <input type="text" pInputText id="nameRoom" [(ngModel)]="room.nameRoom" required />

          </div>
          <div class="p-field">
            <label for="headTeacher">HeadTeacher</label>
            <p-inputNumber id="headTeacher" [(ngModel)]="room.headTeacher"></p-inputNumber>
          </div>

          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="currentSize">CurrentSize</label>
              <input type="number" pInputText id="currentSize" [(ngModel)]="room.currentSize" required autofocus />
            </div>
            <div class="p-field p-col">
              <label for="maxSize">MaxSize</label>
              <input type="number" pInputText id="maxSize" [(ngModel)]="room.maxSize" required autofocus />
            </div>
          </div>

          <div class="p-field">
            <label for="startCreated">StartCreated</label> <br>
            <input type="date" pInputText id="startCreated" [(ngModel)]="room.startCreated" required autofocus />
          </div>


        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTable()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


