<p-toast></p-toast>

<div class="d1">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button >
        <mat-icon>search</mat-icon>
        Search Teacher By
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="teacherFrom" (submit)="search()">
    <div>
      <div class="d2">
        <input matInput type="text" formControlName="teacherName"  placeholder="Tên giáo viên" class="form-control" />
      </div>
      <div class="d2">
        <input matInput type="text" formControlName="phoneNumber" placeholder="Số điện thoại" class="form-control" />
      </div>
    </div>

    <div class="d3">
      <div class="d4">
        <input matInput type="text" formControlName="email"  placeholder="Email" class="form-control" />
      </div>
      <div class="d5">
        <input matInput type="text" formControlName="address"  placeholder="Address" class="form-control" />
      </div>
    </div>
    <mat-form-field appearance="legacy" style="margin-left: 30px;margin-top: 10px;width: 400px;">
      <mat-label>NameRoom</mat-label>
      <mat-select formControlName = "nameRoom">
        <mat-option *ngFor="let room of rooms" [value]="room">{{room.nameRoom}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="d6">
      <button mat-flat-button color="primary" type="submit" style="margin-top: 0px;" >Search</button>
    </div>
  </form>
</div>


<!-- <kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'" [class]="'d-flex flex-row'">
  </kt-portlet-header>
  <kt-portlet-body> -->
<div class="card">
    <p-table #dt [value]="teachers" [rows]="10" [paginator]="true" [globalFilterFields]=
                "['teacherName','email','phoneNumber','address','gender']" responsiveLayout="scroll"
       [rowHover]="true" dataKey="id"
       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption" class="d7" >
            <div class="p-d-flex p-ai-center p-jc-between" >
              <button mat-icon-button>
        <mat-icon>reorder</mat-icon>
        List Teachers
      </button>
                <span class="p-input-icon-left">

                  <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="processSave($event)"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="teacherName">TeacherName <p-sortIcon field="teacherName"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">PhoneNumber <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon></th>
                <th pSortableColumn="nameRoom">NameRoom <p-sortIcon field="nameRoom"></p-sortIcon></th>
                <th pSortableColumn="gender">Gender <p-sortIcon field="gender"></p-sortIcon></th>
                <th pSortableColumn="acction">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teacher>
            <tr>
                <td>{{teacher.teacherName}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.phoneNumber}}</td>
                <td>{{teacher.address}}</td>
                <td>{{teacher.nameRoom}}</td>
                <td>{{teacher.gender}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="processEdit(teacher)" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTeacher(teacher)" ></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">

            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{teachers ? teachers.length : 0 }} teachers.
            </div>


        </ng-template>
    </p-table>
</div>

<p-dialog appendTo="body" [(visible)]="teacherDialog" modal="modal" [style]="{width: '450px'}"  header="Add new teacher"
      [closable]="true" [showHeader]="true"  styleClass="p-fluid">

        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="teacherName">TeacherName</label>
            <input type="text" pInputText id="teacherName" [(ngModel)]="teacher.teacherName" required />

          </div>
          <div class="p-field">
            <label for="email">Email</label>
            <p-inputNumber id="email" [(ngModel)]="teacher.email"></p-inputNumber>
          </div>

          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="phoneNumber">PhoneNumber</label>
              <input type="text" pInputText id="phoneNumber" [(ngModel)]="teacher.phoneNumber" required autofocus />
            </div>
            <div class="p-field p-col">
              <label for="address">Address</label>
              <input type="text" pInputText id="address" [(ngModel)]="teacher.address" required autofocus />
            </div>
          </div>

          <div class="p-field">
            <label for="gender">Gender</label> <br>
            <input type="text" pInputText id="gender" [(ngModel)]="teacher.gender" required autofocus />
          </div>



        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTable()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


