<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">BaDinhHiSchool</a>
  </div>

</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action>
      <ngx-selector-language></ngx-selector-language>
    </nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" [name]="user?.email" ></nb-user>
    </nb-action>
  </nb-actions>
</div>
