<div class="modal-header">
  <h4 *ngIf="action" class="modal-title"
      style="font-size: medium">
    {{'Thêm mới giáo viên'}}
  </h4>
  <h4 *ngIf="!action" class="modal-title"
      style="font-size: medium">
    {{'Sửa thông tin giáo viên ' + teacher.teacherName}}

  </h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formTeacher">
      <div class="p-fluid p-grid">
          <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                  <input id="teacherName"
                          type="text"
                          formControlName="teacherName"
                          class="form-control"
                          pInputText>
                  <label for="teacherName" class="required">TeacherName</label>
              </span>
              <small *ngIf="isSubmitted && f['teacherName'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Tên giáo viên là trường bắt buộc !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <input id="email"
                          type="email"
                          formControlName="email"
                          class="form-control"
                          pInputText>
                  <label for="email" class="required">Email </label>
              </span>
              <small *ngIf="isSubmitted && f['email'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Phải nhập email của giáo viên !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <input id="phoneNumber"
                          type="text"
                          formControlName="phoneNumber"
                          class="form-control"
                          pInputText>
                  <label for="phoneNumber" class="required">PhoneNumber </label>
              </span>
              <small *ngIf="isSubmitted && f['phoneNumber'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Phải nhập số điện thoại giáo viên !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <input id="address"
                          type="text"
                          formControlName="address"
                          class="form-control"
                          pInputText>
                  <label for="address" class="required">Address </label>
              </span>
              <small *ngIf="isSubmitted && f['address'].errors?.required"
                      class="p-error text-error p-pl-1">
                  Phải nhập thông tin địa chỉ giáo viên !
              </small>
          </div>
          <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
            <span class="p-float-label">
                <input id="gender"
                        type="text"
                        formControlName="gender"
                        class="form-control"
                        pInputText>
                <label for="gender" class="required">Gender </label>
            </span>
            <small *ngIf="isSubmitted && f['gender'].errors?.required"
                    class="p-error text-error p-pl-1">
                Phải nhập thông tin giới tính của giáo viên !
            </small>
        </div>

          <!-- <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                  <p>Trạng thái</p>
                  <p-inputSwitch  formControlName="status"></p-inputSwitch>

              </span>
          </div> -->
    </div>
  </form>
</div>

<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">Close</button>
  <button type="button" class="btn btn-danger"
          (click)="processSaveOrUpdate()">Save
  </button>
</div>

